<!DOCTYPE html>

<html lang="pt-br">
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="{{base_url()}}/css/autoload.css">
		<link rel="stylesheet" href="{{base_url()}}/css/home.css">
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
				<a class="navbar-brand" href="#">OMNIDRINK</a>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="{{base_url()}}/">Início</a>
					</li>

					<li>
						<a href="{{base_url()}}/bars">Bares</a>
					</li>

					<li>
						<a href="{{base_url()}}/drinks">Bebidas</a>
					</li>

					<li>
						<a href="{{base_url()}}/users">Usuários</a>
					</li>

					<li>
						<a href="{{base_url()}}/">Sair</a>
					</li>

				</ul>
			</div>
		</nav>

		{% block main %}
					    
		{% endblock %}
	
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="crossorigin="anonymous">
		</script>

		<script src="{{base_url()}}/libs/bootstrap/javascripts/bootstrap.js"></script>

	</body>
</html>