{% extends 'layouts/tasks.lay.twig' %}

{% block title %}Documents of Project{% endblock %} 

{% block main %}
	

	<!-- documents div -->
		<div id="documents">
			<div class="container">
				{% for document in  documents %}
					<div class="col-md-12">
						<div class="panel panel-success">
							<div class="panel-heading">
								<h3>[{{document.project_name}}] - {{document.doc_name}}</h3>
								<p>Criado em <span class="badge">{{document.created_at | date('d/m/Y')}}</span>, por <strong> {{document.doc_author}} </strong></p>
								
								<form action="{{base_url()}}/docs/edit" method="post">
									<input type="hidden" name="document_id" value="{{document.doc_id}}">
									
									<button type="submit" class="btn btn-edit"><span class="glyphicon glyphicon-pencil"></span></button>
								</form>

								
							</div>

							<div class="panel-body">	
								<article>{{document.doc_text | raw}}</article>

							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	<!--/ documents div -->

{% endblock %}