{% extends 'layouts/tasks.lay.twig' %}

{% block title %}Tasks of Project{% endblock %} 

{% block main %}
	

	<!-- tasks div -->
		<div id="tasks">
			<div class="container">
				<div class="col-md-12">
					<h1 class="title">Tarefas</h1>

					{% for project in projects %}
						<div class="panel panel-primary">
							<div class="panel-heading"><h3>{{project.project_name}}</h3></div>
							<div class="panel-body">
								<ul class="list">
									{% for task in  tasks %}
										{% if task.project_name == project.project_name %}
											<li><a href="{{base_url()}}/tasks/view/{{task.task_id}}">{{task.created_at | date('d/m/Y')}}: {{task.task_name}}</a></li>
										{% endif %}							
									{% endfor %}
								</ul>
							</div>
						</div>
					{% endfor %}
					

					

				</div>
			</div>
		</div>
	<!--/ tasks div -->

{% endblock %}
